.commentSection {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e0e0e0;
}

.comment {
  display: flex;
  margin-bottom: 20px;
  width: 70%;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.commentBody {
  flex: 1;
}

.commentHeader {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.timestamp {
  color: #888;
  font-size: 12px;
}

.content {
  margin-bottom: 10px;
}

.commentActions {
  display: flex;
  align-items: center;
}

.likeBtn,
.dislikeBtn,
.replyBtn {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  margin-right: 10px;
}

.likeBtn:hover,
.dislikeBtn:hover,
.replyBtn:hover {
  background: none;
  box-shadow: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 50px;
  border-radius: 10px;
}

.eventBanner {
  background-color: #c29e92;
  padding: 5px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.eventText {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.question {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.option {
  background-color: white;
  border: 2px solid #644d45;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.optionLabel {
  background-color: #644d45;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.optionImage {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.optionText {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  font-weight: bold;
}

.vs {
  display: flex;
  align-items: center;

  font-size: 3rem;
  font-weight: bold;
  color: #ff5722;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: #ff5722;
  }
  50% {
    transform: scale(1.1);
    color: #ffab91;
  }
  100% {
    transform: scale(1);
    color: #ff5722;
  }
}

.form {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.userComment {
  padding: 5px;
  font-size: 14px;
  width: 50%;
  border: none;
  border-bottom: 1px solid #c1c1c1;
  margin-right: 10px;
}

.userComment:focus {
  outline: none;
}

.submit {
  background-color: #ececec;
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.submit:hover {
  background-color: #cacaca;
  box-shadow: none;
}
