.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #644d45;
  width: 100%;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

.logo:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: start;
  margin-left: 4%;
}

.navItem {
  margin-left: 30px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.navItem:hover {
  cursor: pointer;
}

.authButtons {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column; /* 햄버거 바들이 세로로 쌓이게 설정 */
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

.hamburgerIcon {
  width: 30px;
  height: 3px;
  background-color: #ffffff; /* 햄버거 바 색상 */
  margin: 4px 0;
  transition: 0.3s; /* 클릭 시 애니메이션 */
}

.authButton {
  margin-left: 15px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
}

.authButton:hover {
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav,
  .authButtons {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .showMenu {
    display: flex;
    z-index: 1000;
  }

  .hamburger {
    display: flex; /* 모바일 화면에서만 햄버거 메뉴 보이게 */
  }

  .navItem,
  .authButton {
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: black;
    font-size: 16px;
    margin: 0;
    background-color: white;
  }
}
