.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-image: url("../img/loginBackground.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

.Container {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url("../img/loginBackground.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

.leftContainer {
  display: grid;
  place-items: center;
  padding-left: 80px;
}

.image {
  width: 65%;
  height: auto;
  object-fit: contain;
}

.rightContainer {
  display: grid;
  place-items: center;
  padding: 20px;
  padding-right: 120px;
}

.box {
  width: 50%;
}

.boxContainer {
  padding: 2%;
  width: 25%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.h1 {
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
  color: #644d45;
}

.inputContainer {
  margin-bottom: 15px;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 3px;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
}

.input:focus {
  border: 1px solid #848484;
  outline: none;
}

.button {
  margin-top: 23px;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background-color: #644d45;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #5c3022;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.options {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.optionLink {
  font-size: 15px;
  margin-top: 2px;
  color: #644d45;
  cursor: pointer;
}

.optionLink:hover {
  text-decoration: underline;
}

.divider {
  color: #ccc;
}

.required {
  color: red;
}
.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 10px;
}

.checkboxLabel {
  font-size: 14px;
  margin-left: 10px;
}

input[type="checkbox"] {
  margin-top: 2px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  accent-color: #644d45;
}

.detailLink {
  margin-left: 10px;
  font-size: 12px;
  color: #007bff;
  cursor: pointer;
}
